extends ../../../views/base.jade

block extrahead
    link(rel="stylesheet", href="/static/css/signin.css")

block content
    form#form.form-signin(method="GET", action='/demo')
        h2 Set your parameters !
        .form-group
            label Select your scene
            .form-group
                input(type='radio', name='scene', value='2', style={'margin-right': '5px'}, checked)
                | Bobomb scene<br/>
                input(type='radio', name='scene', value='3', style={'margin-right': '5px'})
                | Cool cool mountain scene<br />
                input(type='radio', name='scene', value='4', style={'margin-right': '5px'})
                | Whomp scene

            label Select your bookmarks
            .form-group
                input(type='radio', name='bookmark', value='0', style={'margin-right': '5px'}, checked)
                | No bookmarks<br/>
                input(type='radio', name='bookmark', value='1', style={'margin-right': '5px'})
                | Viewports<br />
                input(type='radio', name='bookmark', value='2', style={'margin-right': '5px'})
                | Arrows

            label Select your prefetching policy
            .form-group
                input(type='radio', name='prefetch', value='NV-PN', style={'margin-right': '5px'}, checked)
                | NV-PN : frustum / backface culling, no prefetch<br/>
                input(type='radio', name='prefetch', value='V-PP', style={'margin-right': '5px'})
                | V-PP : try to predict the next clicked bookmark and prefetch it<br />
                input(type='radio', name='prefetch', value='V-PD', style={'margin-right': '5px'})
                | V-PD : only prefetch when clicking on a bookmark<br/>
                input(type='radio', name='prefetch', value='V-PP+PD', style={'margin-right': '5px'})
                | V-PP+PD : try to predict bookmark and prefetch on click

            button.btn.btn-lg.btn-primary.btn-block(type="submit") Start playing !



