extends ../../../views/withjs
block title
    title #{title} - Bouncing cube

block extrajs
    script(src="/static/js/bouncing.min.js")

block content
    h2 Bouncing cube

    p Click on the cube to make it jump !

    #container
