AddHandler cgi-script .py
Options +ExecCGI

DirectoryIndex index.py

ErrorDocument 403 /errors/403/
ErrorDocument 404 /errors/404/

Redirect permanent /scene /prototype

<Files "index.html">
    Order Allow,Deny
    Deny from all
</Files>
