extends ../../../views/base.jade

block content
    h1 Thank you for everything !
    audio(autoplay)
        source(src="/static/data/music/thankyou.ogg")
        source(src="/static/data/music/thankyou.mp3")

