extends ./main

block js
    script(src="/static/js/three.js")
    script(src="/static/js/Tools.js")
    script(src="/static/js/three/stats.min.js")
    script(src="/static/js/three/DDSLoader.js")
    script(src="/static/js/three/MTLLoader.js")
    script(src="/static/js/three/OBJLoader.js")
    script(src="/static/js/three/OBJMTLLoader.js")
    -//script(src="/static/js/three/OrbitControls.js")
    script(src="/static/js/Cube.js")
    script(src="/static/js/ProgressiveSphere.js")
    script(src="/static/js/Camera.js")
    script(src="/static/js/FixedCamera.js")
    script(src="/static/js/OldFixedCamera.js")
    script(src="/static/js/BouncingCube.js")
    script(src="/static/js/BufferGeometryToGeometry.js")
    script(src="/static/js/PointerCamera.js")
    script(src="/static/js/CameraContainer.js")
    script(src="/static/js/Hermite.js")
    script static_path="/static/";
