extends ../../../views/base.jade

block content
    h1 Welcome !
    p This study consists in four consecutive steps :
        ol
            li Enter some personal information that we will use for statistics purposes
            li Complete a tutorial to learn how to use the 3D navigation interface
            li Play a game in which you have to find coins hidden in a 3D world. You need to play the game in 3 different scenes.
            li Complete a short questionnaire to give us feedback on the 3D navigation interface
    h2#start

block extrajs
    script.
        var isOpera = window.navigator.userAgent.indexOf("OPR") > -1 || window.navigator.userAgent.indexOf("Opera") > -1;
        if (($.browser.chrome || $.browser.mozilla) && !isOpera) {
            $('#start').html('You can now <a href="/user-study">start when you are ready</a>');
        } else {
            $('#start').html('Sorry, your browser is not compatible... please try again with Firefox or Chrome');
        }
