doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/static/css/style.css")
        link(rel="stylesheet", href="/static/css/syntax.css")
        block extrahead
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic")
        link(rel="icon", type="image/x-icon", href="/favicon.ico")
        block title
            title 3DUI

    body
        nav#nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .container
                #navbar.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse" data-target=".navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#{urls.index}", style={'pointer-events':'none'}) 3DUI

                block links

        block extrabody

        section#main-section.container
            if alertCookie
                .alert.alert-warning.alert-dismissible(role="alert", style={'margin-top':'20px'})
                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") &times;
                    <strong>Warning</strong> : this website use cookies !

            block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        script(src="/static/bootstrap/js/bootstrap.min.js")
        script(src='/static/bootstrap/js/jquery-browser.js')
        block js
        block extrajs

