extends ./main

block append extrahead
    script GLOB = typeof GLOB !== 'undefined' ? GLOB : {};

block js
    script(src="/static/js/three.min.js")
    script(src="/static/js/stats.min.js")
    script(src="/static/js/socket.io.min.js")
    script(src="/static/js/config.js")
    script(src="/static/js/mth.js")
    script(src="/static/js/l3d.js")
