extends ./prototype_interactive

block title
    title #{title} - Prototype - Arrows

block prepend js
    script window.DB_DISABLED = true;

block mainjs
    script GLOB.locked = false;
    script(src="/static/js/prototypeinteractive.min.js")
    script GLOB.SceneClass = SponzaScene;

block configjs
    script Recommendation = l3d.ArrowRecommendation;

//-block preciseDescription
    p
        | Recommended views are displayed with a
        | transparent blue arrow.  They disappear when you
        | come closer to them, and shows the motion between
        | your current position and the recommendation.
