extends ../../../views/base.jade

block content
    h1 Now, things are getting serious
    p.
        You have successfully completed the tutorial ! Now, things are getting
        serious. You will be prompted with three successive scenes, each of
        which containing 8 red coins. Your mission is simple: you have to
        collect the 8 red coins. There may be recommendations like the ones you
        saw in the tutorial : they are here to help you navigate in the scene.
        Use them or ignore them at your convenience.

    p You can start <a href='/prototype/arrows'>when you're ready</a> !
