extends ../../../views/base.jade

block content
    h1 Now, things are getting serious
    p.
        You completed the tutorial ! Now, things are getting serious. There
        will be three scenes coming to you. Your mission is simple : you have
        to find the 8 red coins. There may be recommendations like the ones you
        saw in the tutorial : they are here to help you to move around. Use
        them if they help you, ignore them if they seem useless.

    p You can start <a href='/prototype/arrows'>when you're ready</a> !
