extends ../../../views/main

block title
    title #{title} - Streaming simulator

block extrajs
    script params = {}; params.get= {}; params.get.res = #{resolution}
    script(src="/static/js/three.min.js")
    script(src="/static/js/threetools.min.js")
    script(src="/static/js/streamingsimulator.min.js")

block content
    h2 Streaming simulator

    p.
        In fact, it's not really streaming. The sphere is fully preloaded and then,
        a mesh is created and vertices and faces are dynamically added to this mesh
        as time goes by.

    #container
