extends ../../../views/main

block title
    title #{title} - Sphere streaming

block extrajs
    script params = {}; params.get= {}; params.get.res = #{resolution}
    script(src="/static/js/three.min.js")
    script(src="/static/js/threetools.min.js")
    script(src="/static/js/socket.io.min.js")
    script(src="/static/js/streamingsimulator.min.js")

block content
    h2 Sphere streaming

    p.
        <strike>In fact, it's not really streaming. The sphere is fully preloaded and then,
        a mesh is created and vertices and faces are dynamically added to this mesh
        as time goes by.</strike>

    p.
        | In fact, it is acutally streaming. If you web browser supports
        | WebSocket, you'll connect to the server and the mesh will be streamed
        | onto the socket and the faces will be displayed as soon as you
        | receive them.

    #container
