extends ../../../views/main

block title
    title #{title} - Prototype

block content
    h2 Index
    p There are two prototypes here :
        ul
            li
                a(href="arrows/") One with arrows
            li
                a(href="viewports/") One with viewports
        ul
