extends ../../../views/main

block title
    title #{title} - Prototype

block content
    h2 Index
    p There are two prototypes here :
        ul
            li
                a(href="arrows/") Arrows
            li
                a(href="reverse/") Reversed arrows looking like funnel
            li
                a(href="viewports/") Viewports
