extends ./prototype_interactive

block title
    title #{title} - Prototype - Viewports

block configjs
    script Recommendation = L3D.ViewportRecommendation;
    script.
        Coin.onLastCoin = function() {
            $('#next').show();
            $('#next').click(function() {
                window.location = '/prototype/arrows';
                $('#next').click(function() {});
            });
        };

block lastbutton
    button#next.btn.btn-success.navbar-btn(style={'margin-right':'10px', 'margin-bottom':'10px', 'display':'none'})
        span Go to the next step

//-block preciseDescription
    p
        | Recommended views are displayed with a
        | transparent red rectangle and some lines.
        | Basically, it represents the position of a camera
        | (the point at the extramities of the lines
        | represents the optical center, and the red
        | rectangle represents the image plane).
