extends ./prototype

block title
    title #{title} - Prototype - Replay

block configjs
    script RecommendedCamera = FixedCamera;
    script var params = params || {}; params.get = params.get || {}; params.get.id = #{id};

block mainjs
    script(src="/static/js/replay.min.js")
