extends ./prototype_interactive

block title
    title #{title} - Prototype - Arrows

block mainjs
    script(src="/static/js/sponza.min.js")

block configjs
    script RecommendedCamera = FixedCamera;

//-block preciseDescription
    p
        | Recommended views are displayed with a
        | transparent blue arrow.  They disappear when you
        | come closer to them, and shows the motion between
        | your current position and the recommendation.
