extends ./prototype

block append extrahead
    link(rel="stylesheet", href="/static/css/tutorial.css")

block title
    title #{title} - Prototype - Tutorial

block configjs
    script Recommendation = L3D.ArrowRecommendation;
    script(src="/static/js/tutorial.min.js")

block fullscreen
    button#full.btn.btn-primary(style={display:"none"}) Fullscreen

