extends ../../../views/main.jade

block title
    title #{title} - Multi-sphere

block extrajs
    script(src="/static/js/three.min.js")
    script(src="/static/js/l3d.min.js")
    script(src="/static/js/multisphere.min.js")

block content
    h2 Multiresolution sphere

    p.
        This is the first test of multi-resolution. In fact, it's not really one
        multi-resolution sphere but many spheres with different resolutions. You
        can change resolution by clicking on the canvas.

    #container
