    <body>
        <header>
            <h1 id="title">Welcome ! <img src='/img/python-powered.svg' alt='Python powered' width=80/></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/bouncing/">Bouncing cube</a></li>
                <li><a href="/multisphere/">Multi-sphere</a></li>
                <li><a href="/prototype/">Prototype</a></li>
                <li><a href="/stream/">Streaming simulator</a></li>
            </ul>
        </nav>
#
    </body>
