extends ../../../views/base.jade

block content
    h1 Welcome !
    p This game will be in four steps :
        ol
            li We'll ask you a little information so we can know you a little.
            li Then, you will try a tutorial of a 3D interface.
            li When you finish the tutorial, the main part will start. There will be 3 scenes and you will be asked to complete tasks.
            li Once you finished, there will be a short questionnary so we can know what you think of our interface.

    h2#start

block extrajs
    script.
        if ($.browser.chrome || $.browser.mozilla) {
            $('#start').html('You can now <a href="/user-study">start when you are ready</a>');
        } else {
            $('#start').html('Sorry, your browser is not compatible... please try again with Firefox or Chrome');
        }
