extends ../../../views/withjs

block title
    title #{title} - Prototype

block prepend js
    script DB_DISABLED = true;

block extrajs
    script Recommendation = l3d.ArrowRecommendation;
    script var params = params || {}; params.get = params.get || {}; params.get.id = #{id};
    script initMainScene = #{initjs}
    script(src="/static/js/l3dp.min.js")
    script(src="/static/js/replay.min.js")

block extrahead
    link(rel="stylesheet" href="/static/css/prototype.css")

block content
    #main-div.panel-group(style={'margin-top':'10px', 'margin-bottom':'10px'})
        #container(style={'padding': '0px', 'margin': '0px'}, tabindex="1")
