extends ./prototype

block append extrahead
    link(rel="stylesheet", href="/static/css/tutorial.css")

block title
    title #{title} - Prototype - Tutorial

block configjs
    script GLOB.Recommendation = l3d.ArrowRecommendation; GLOB.coinConfig = {type : Coin.Config.SOME, ids : [#{coins}]};
    script(src="/static/js/tutorial.min.js")

block lastbutton
    button#next.btn.btn-success.navbar-btn(style={'margin-right':'10px', 'margin-bottom':'10px', 'display':'none'})
        span Go to the next step
