<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/syntax.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic" />
        {{ page.extrahead }}
        <title>3DUI - {{ page.title }}</title>
    </head>
    <body>
        <nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">3DUI</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/bouncing/">Bouncing cube</a></li>
                        <li><a href="/multisphere/">Multi-sphere</a></li>
                        <li><a href="/prototype/">Prototype</a></li>
                        <li><a href="/stream/">Streaming simulator</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <section class="container" id="main-section">
            {{ content }}
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        {{ page.js }}
        {{ page.extrajs }}
    </body>
</html>
