<!doctype html>
<html>
    <head>
        <title>3DUI - {{ page.title }}</title>
        <meta charset='utf-8' />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic" />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <header>
            <h1 id="title">Welcome !</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/bouncing/">Bouncing cube</a></li>
                <li><a href="/multisphere/">Multi-sphere</a></li>
                <li><a href="/prototype/">Prototype</a></li>
                <li><a href="/stream/">Streaming simulator</a></li>
            </ul>
        </nav>
        {{ content }}
        {{ page.extrajs }}
    </body>
</html>

